Flow of Node-Red.json
[{"id":"b6eca88f.c51f38","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"b8943583.d865d8","type":"mqtt out","z":"b6eca88f.c51f38","name":"Ubidots-MQTT","topic":"/v1.6/devices/iot-device","qos":"","retain":"","broker":"e280c066.b320d","x":720,"y":100,"wires":[]},{"id":"9911e975.19e048","type":"mqtt in","z":"b6eca88f.c51f38","name":"Subscribe","topic":"/v1.6/devices/iot-device/current/lv","qos":"2","datatype":"auto","broker":"e280c066.b320d","x":360,"y":460,"wires":[["7bcdf27.fb7c70c"]]},{"id":"c74d31cd.caae8","type":"debug","z":"b6eca88f.c51f38","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":713,"y":159,"wires":[]},{"id":"36d4f4be.8a5c1c","type":"modbus-read","z":"b6eca88f.c51f38","name":"TST-RTU","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"1","dataType":"HoldingRegister","adr":"100","quantity":"2","rate":"1","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"b554928c.b8ffe","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"x":303,"y":99,"wires":[["d7cdb17d.e2be6"],[]]},{"id":"d7cdb17d.e2be6","type":"function","z":"b6eca88f.c51f38","name":"Convert","func":"let pay = msg.payload;\nconst buf = Buffer.allocUnsafe(4); \nbuf.writeUInt16BE(pay[0]); // high byte\nmsg.payload = {\"hr1\" : buf.readFloatBE()};\nreturn msg;","outputs":1,"noerr":0,"x":513,"y":99,"wires":[["c74d31cd.caae8","b8943583.d865d8"]]},{"id":"1fd0edb3.2a7552","type":"comment","z":"b6eca88f.c51f38","name":"PUBLISH DATA TO UBIDOTS  BY MQTT","info":"","x":520,"y":40,"wires":[]},{"id":"fb8e876b.bc8cd8","type":"function","z":"b6eca88f.c51f38","name":"Setup Request","func":"// details for Ubidots\nlet pay = msg.payload;\ndevice_label = \"iot-device\";\nubidots_token = \"BBFF-BHMNUAHmNHnNIMg2Znuyghzpu3Pm6i\";\nmsg.method = \"POST\";\nmsg.url = \"http://industrial.api.ubidots.com/api/v1.6/devices/\" + device_label + \"/?token=\" + ubidots_token;\n\n//convert from buffer to JSON\n\nconst buf = Buffer.allocUnsafe(4); \nbuf.writeUInt16BE(pay[0]); // high byte\nmsg.payload = {\"hr2\" : buf.readFloatBE()};\n\nreturn msg;\n","outputs":1,"noerr":0,"x":380,"y":600,"wires":[["c1fa7d25.dccc8","a8bbb07a.88253"]]},{"id":"a8bbb07a.88253","type":"debug","z":"b6eca88f.c51f38","name":"","active":false,"console":"false","complete":"payload","x":810,"y":600,"wires":[]},{"id":"c1fa7d25.dccc8","type":"http request","z":"b6eca88f.c51f38","name":"","method":"use","ret":"txt","paytoqs":false,"url":"","tls":"","proxy":"","authType":"","x":590,"y":600,"wires":[[]]},{"id":"bf6e4017.7cbb3","type":"comment","z":"b6eca88f.c51f38","name":"PUBLISH DATA TO UBIDOTS BY HTTP","info":"","x":510,"y":540,"wires":[]},{"id":"b4906e73.8633a","type":"modbus-read","z":"b6eca88f.c51f38","name":"Voltage","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"2","dataType":"InputRegister","adr":"0","quantity":"1","rate":"2","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"b554928c.b8ffe","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"x":150,"y":600,"wires":[["fb8e876b.bc8cd8"],[]]},{"id":"7bcdf27.fb7c70c","type":"debug","z":"b6eca88f.c51f38","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":620,"y":460,"wires":[]},{"id":"61775fab.5e5b2","type":"comment","z":"b6eca88f.c51f38","name":"SUBSCRIBE DATA TO UBIDOTS  BY MQTT","info":"","x":490,"y":400,"wires":[]},{"id":"8e2cd816.b89a38","type":"mqtt out","z":"b6eca88f.c51f38","name":"Ubidots-MQTT","topic":"/v1.6/devices/iot-device","qos":"","retain":"","broker":"e280c066.b320d","x":740,"y":280,"wires":[]},{"id":"3d9803d8.a94adc","type":"debug","z":"b6eca88f.c51f38","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":733,"y":339,"wires":[]},{"id":"683c55b7.a972ec","type":"modbus-read","z":"b6eca88f.c51f38","name":"TSH-RTU","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"3","dataType":"HoldingRegister","adr":"102","quantity":"2","rate":"1","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"b554928c.b8ffe","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"x":323,"y":279,"wires":[["86083c26.9b46e"],[]]},{"id":"86083c26.9b46e","type":"function","z":"b6eca88f.c51f38","name":"Convert","func":"let pay = msg.payload;\nconst buf = Buffer.allocUnsafe(4); \nbuf.writeUInt16BE(pay[0]); // high byte\nmsg.payload = {\"hr3\" : buf.readFloatBE()};\nreturn msg;","outputs":1,"noerr":0,"x":533,"y":279,"wires":[["8e2cd816.b89a38","3d9803d8.a94adc"]]},{"id":"89acb6fe.709338","type":"comment","z":"b6eca88f.c51f38","name":"PUBLISH DATA TO UBIDOTS  BY MQTT","info":"","x":500,"y":220,"wires":[]},{"id":"e280c066.b320d","type":"mqtt-broker","name":"","broker":"industrial.api.ubidots.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"b554928c.b8ffe","type":"modbus-client","name":"","clienttype":"serial","bufferCommands":true,"stateLogEnabled":false,"tcpHost":"169.254.142.120","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB0","serialType":"RTU","serialBaudrate":"19200","serialDatabits":"8","serialStopbits":"1","serialParity":"even","serialConnectionDelay":"100","unit_id":1,"commandDelay":1,"clientTimeout":1000,"reconnectTimeout":2000}]